<h1>User Login</h1>
<form id="loginForm">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Please enter your email." required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Please enter your password." required>
    </div>
    <button type="submit">Log In</button>
</form>

<p class="registerLink">Don't have an account yet? <a href="/register">Register here</a></p>

<script src="/js/login.js"></script>